.heading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.item1 {
  height: 324px;
  width: 52vw;
  border-radius: 5px;
  position: relative;
}
.item2 {
  height: 324px;
  width: 25vw;
  border-radius: 8px;
  position:relative;
}

.practice-img{
    height:100%;
    width:100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 8px;
}
.practice-txt{
    position:absolute;
    bottom:3rem;
    left:25rem;
}

.practice-txt-item{
    position:absolute;
    bottom:3rem;
    left:6rem;
}
