.hero-intro {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0rem 3rem 0rem 3rem;
  background-color: rgb(17, 17, 17);
  width:100%;
}
.hero-intro-text {
  margin-top: 1rem;
  max-width: 50vw;
}
.head-text {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.head-desc {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.hero-intro-img{
    
}
span{
    display: block;
}
.hero-btn{
    background-color: var(--css-primary) !important;
    border-radius:10px;
    border-color: var(--css-black) !important;
    width:90px;
}
